$light: (
  default-background-color: #ffffff,
  default-border-color: #e0e0e0, // rgb(77, 149, 243),
  default-font-color: #000000,
  button-border-color: rgb(0, 124, 202), // rgb(77, 149, 243),
  button-border-color-info: rgb(0, 124, 202), // rgb(77, 149, 243),
  button-font-color: #242424,
  button-background-color-default: rgb(255, 255, 255), // rgba(255, 255, 255, 0.4),
  button-background-color-primary: rgba(0, 124, 202, 1), // rgba(147, 204, 245, 0.4),
  button-background-color-info: transparent, // rgba(147, 204, 245, 0.4),
  button-background-color-danger: rgba(230, 80, 105, 1),
  button-background-color-success: rgba(3, 167, 134, 1),
  button-background-color-delete: rgb(247, 56, 88),
  button-background-color-show: rgba(56, 195, 245, 1),
  button-load-background-color: rgb(130, 190, 236),
  button-font-color-default: rgba(0, 124, 202, 1), // rgba(255, 255, 255, 0.4),
  button-font-color-primary: rgba(255, 255, 255, 1), // rgba(147, 204, 245, 0.4),
  button-font-color-info: rgba(0, 124, 202, 1),
  button-font-color-danger: rgba(255, 255, 255, 1),
  button-font-color-success: rgba(255, 255, 255, 1),
  button-font-color-delete: rgba(255, 255, 255, 1),
  button-font-color-show: rgba(255, 255, 255, 1),
  button-tool-border-color: rgba(217, 217, 217, 1),
  button-custom-font-color: #666,
  button-custom-border-color: #e0e0e0,

  date-background-panel-color: rgba(50, 170, 255, .4),
  date-background-hover-color: rgba(60, 166, 200, .4),
  date-normal-font-color: rgb(0, 0, 0),
  date-label-font-color: #808080,
  date-highlight-font-color: #007cca,

  dialog-background-color: rgb(255, 255, 255),
  dialog-border-color: rgb(255, 255, 255),
  dialog-border-error-color: rgb(230, 80, 105),
  dialog-border-warning-color: rgb(253, 207, 83),
  dialog-background-popper-color: #fff,
  dialog-boxshadow-inset-color: transparent, // rgb(169, 179, 226),
  dialog-boxshadow-outset-color: rgba(0, 0, 0, .2),
  dialog-boxshadow-inset-position: (0 0 0),
  dialog-boxshadow-outset-position: (0 10px 30px 0),
  dialog-popover-boxshadow-inset-color: transparent,
  dialog-popover-boxshadow-outset-color: rgba(0, 0, 0, .2),
  dialog-popover-boxshadow-inset-position: (0 0 0),
  dialog-popover-boxshadow-outset-position: (0 5px 30px),
  dialog-msg-boxshadow-inset-position: (0 0 30px),
  dialog-msg-boxshadow-outset-position: (0 5px 10px),
  dialog-title-font-color: rgb(0, 0, 0),
  dialog-normal-font-color: #333,
  dialog-label-font-color: #808080,
  dialog-highlight-font-color: rgb(45, 157, 221),

  input-font-color: #333,
  input-font-label-color: #b3b3b3,
  input-font-highlight-color: rgb(0, 0, 0),
  input-border-color: rgb(224, 224, 224), // rgb(77, 149, 243),
  input-border-hover-color: rgb(0, 124, 202), // rgb(77, 149, 243),
  input-boxshadow-color: rgb(197, 217, 255),
  input-background-color: rgb(255, 255, 255),

  checkbox-font-color: #808080,
  checkbox-icon-color: #808080,
  checkbox-font-hover-color: #007CCA,
  checkbox-font-highlight-color: #007CCA,
  checkbox-background-color: rgb(215, 245, 255),
  checkbox-border-color: rgb(224, 224, 224),
  checkbox-boxshadow-color: rgb(112, 206, 236),
  radio-button-background-color: rgba(224, 224, 224, .4),
  radio-button-active-background-color: rgba(255, 255, 255, 1),
  radio-background-color: rgb(255, 255, 255),
  select-icon-color: #606161,
  select-background-color: rgb(169, 213, 251),

  table-border-color: rgba(224, 224, 224, 1),
  table-el-th-background-color: rgb(255, 255, 255),
  table-el-row-background-single-color: rgb(255, 255, 255),
  table-el-row-background-double-color: #f8f8f8, // rgb(235, 246, 250),
  table-el-row-background-select-color: rgb(211, 238, 255), // rgb(169, 213, 251),
  table-th-background-color: rgb(255, 255, 255),
  table-row-background-single-color: rgb(255, 255, 255),
  table-row-background-double-color: #f8f8f8, // rgb(60, 166, 200),
  table-row-background-select-color: rgb(211, 238, 255), // rgb(169, 213, 251),
  table-blank-background-color: rgb(245, 245, 245),
  table-th-background-alpha: 1,
  table-row-background-single-alpha: 1,
  table-row-background-double-alpha: 1,
  table-th-font-color: #666,
  table-td-font-color: #333,
);

$dark: (
  default-background-color: #081c2b,
  default-border-color: rgb(60, 166, 200),
  default-font-color: rgb(255, 255, 255),
  button-border-color: rgba(60, 166, 200, .6),
  button-font-color: #fff,
  button-background-color-default: rgba(10, 35, 50, 0.4),
  button-background-color-primary: rgba(50, 170, 255, 0.4),
  button-background-color-danger: rgba(230, 80, 105, 0.2),
  button-background-color-success: rgba(3, 167, 134, 0.4),
  button-background-color-delete: rgba(230, 80, 105, 0.4),
  button-background-color-show: rgba(56, 195, 245, 0.2),
  button-load-background-color: rgb(9, 29, 44),
  button-font-color-default: #fff,
  button-font-color-primary: #fff,
  button-font-color-info: #3499E2,
  button-font-color-danger: #3499E2,
  button-font-color-success: #3499E2,
  button-font-color-delete: #3499E2,
  button-font-color-show: #3499E2,
  button-tool-border-color: #447385,
  button-custom-font-color: #fff,
  button-custom-border-color: rgba(160, 220, 255, .2),

  date-background-panel-color: rgba(50, 170, 255, .4),
  date-background-hover-color: rgba(60, 166, 200, .4),
  date-normal-font-color: #fff,
  date-label-font-color: #7a939e,
  date-highlight-font-color: rgb(60, 166, 200),

  dialog-background-color: rgb(8, 25, 38),
  dialog-border-color: rgb(60, 166, 200),
  dialog-border-error-color: rgb(230, 80, 105),
  dialog-border-warning-color: rgb(253, 207, 83),
  dialog-background-popper-color: rgba(19, 47, 64, 0.93),
  dialog-boxshadow-inset-color: rgb(60, 166, 200),
  dialog-boxshadow-outset-color: rgb(0, 0, 0),
  dialog-boxshadow-inset-position: (0 0 50px),
  dialog-boxshadow-outset-position: (0 20px 60px),
  dialog-popover-boxshadow-inset-color: rgba(60, 166, 200, .4),
  dialog-popover-boxshadow-outset-color: rgba(0, 0, 0, .9),
  dialog-popover-boxshadow-inset-position: (0 0 30px),
  dialog-popover-boxshadow-outset-position: (0 8px 20px),
  dialog-msg-boxshadow-inset-position: (0 0 60px),
  dialog-msg-boxshadow-outset-position: (0 8px 20px),
  dialog-title-font-color: rgb(255, 255, 255),
  dialog-normal-font-color: #fff,
  dialog-label-font-color: #7a939e,
  dialog-highlight-font-color: rgb(60, 166, 200),

  input-font-color: #7a939e,
  input-font-label-color: #7a939e,
  input-font-highlight-color: #fff,
  input-border-color: rgba(60, 166, 200, .7),
  input-border-hover-color: rgba(60, 166, 200, .9),
  input-boxshadow-color: rgb(60, 166, 200),
  input-background-color: rgba(0, 0, 0, 0.2),

  checkbox-font-color: #7a939e,
  checkbox-icon-color: #7a939e,
  checkbox-font-hover-color: #409EFF,
  checkbox-font-highlight-color: #fff,
  checkbox-background-color: rgb(60, 166, 200),
  checkbox-border-color: rgba(60, 166, 200, .7),
  checkbox-boxshadow-color: rgb(60, 166, 200),
  radio-button-background-color: rgba(0, 0, 0, 0.2),
  radio-button-active-background-color: rgba(56, 195, 245, 0.2),
  radio-background-color: transparent,
  select-icon-color: #d3d3d3,
  select-background-color: rgb(60, 166, 200),

  table-border-color: rgba(34, 156, 195, .1),
  table-el-th-background-color: rgb(9, 27, 41),
  table-el-row-background-single-color: rgb(14, 45, 62),
  table-el-row-background-double-color: rgb(8, 30, 45),
  table-el-row-background-select-color: rgb(33, 88, 112),
  table-th-background-color: rgb(9, 27, 41),
  table-row-background-single-color: rgb(14, 45, 62),
  table-row-background-double-color: rgb(8, 30, 45),
  table-row-background-select-color: rgb(33, 88, 112),
  table-blank-background-color: rgba(0, 0, 0, .1),
  table-th-background-alpha: .1,
  table-row-background-single-alpha: .8,
  table-row-background-double-alpha: .8,
  table-th-font-color: #7a939e, // rgb(175, 172, 172)
  table-td-font-color: #fff,
);